<h1>Users list</h1>

<table>
  <tr>
    <th>#</th>
    <th>Avatar</th>
    <th>Full name</th>
    <th>Position</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td></td>
      <td><%= image_tag(user.avatar_url(:thumb)) if user.avatar? %></td>
      <td><%= user.full_name %></td>
      <td><%= user.position %></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td><%= link_to "Edit", edit_cms_user_path(user) %></td>
    </tr>
  <% end %>
</table>
