<h1>Add users to service</h1>

<%= form_for @service, url: { action: "update" }, html: { multipart: true } do |f| %>
  <div class="row">
    Admin User: <%= f.collection_select :user_id, User.user_admin, :id, :name_with_position %>
  </div>
  <div class="row">
    Users:
    <%= f.collection_check_boxes(:user_id, User.user, :id, :name_with_position) do |c| %>
      <div class="row">
        <%= c.check_box + c.text %>
      </div>
    <% end %>
  </div>
  <%= f.submit "Submit" %>
<% end %>
