<h1>Services list</h1>

<table class="table table-hover">
  <tr>
    <th>#</th>
    <th>Logo</th>
    <th>Name</th>
    <th>Link</th>
    <th>Admin User</th>
    <th></th>
  </tr>

  <% @services.each_with_index do |service, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= image_tag(service.logo_url(:thumb)) if service.logo? %></td>
      <td><%= service.name %></td>
      <td><%= service.link %></td>
      <td><%= service.admin.full_name if service.admin %></td>
      <td><%= link_to "Add users", edit_cms_service_path(service) %></td>
    </tr>
  <% end %>
</table>
